<h1>Classes List</h1>
<ul>
 
    <li></li> 
  
</ul>

 <table
          style="width: 99%"
          class="text-center mx-auto table mt-5 table-striped table-bordered"
        >
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">class Name</th>
              <th scope="col">count students</th>
              
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
 <% classes.forEach(function(classe) { %>
            <tr>
              <th scope="row">1</th>
              <td><%= classe.name %></td>
              <td>count students</td>
              
              
              <td>
                <a
                  data-bs-toggle="tooltip"
                  data-bs-title="View details"
                  data-bs-placement="top"
                  class="btn btn-primary btn-sm"
                  href="./user/view.html"
                  ><i class="bi bi-eye"></i
                ></a>

                <a
                  data-bs-toggle="tooltip"
                  data-bs-title="Edit user"
                  data-bs-placement="top"
                  class="btn btn-primary btn-sm"
                  href="./user/edit.html"
                >
                  <i class="bi bi-pencil"></i>
                </a>
                <button
                  data-bs-toggle="tooltip"
                  data-bs-title="Delete user"
                  data-bs-placement="top"
                  class="btn btn-danger btn-sm"
                >
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
            <% }) %>
                </tbody>
        </table>
