<style>
      .full-height {
         height: 100vh; /* 100% of the viewport height */
         display: flex;
         justify-content: center;
         align-items: center;
      }
   </style>

   <div class="container full-height">
      <div class="row w-100">
         <div class="col-6 ">
            <div class="card text-center p-5" style="background-color: #321066;">
               <div class="card-body" >
                <a href="/Login?type=Student" class="border-0 "><h4 class="card-title text-xl">Student</h4></a>
                  
                 
               </div>
            </div>
         </div>
         <div class="col-6">
            <div class="card text-center p-5" style="background-color: #694D93;">
               <div class="card-body">
            <a href="/Login?type=Formateur" class="border-0"><h4 class="card-title">Formateur</h4></a>

               </div>
            </div>
         </div>
      </div>
   </div>
